<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GiaoDien.QLCongNhanActivity" />
        <activity android:name=".GiaoDien.SanPhamActivity" />
        <activity android:name=".GiaoDien.ChiTietCCActivity" />
        <activity android:name=".GiaoDien.InActivity" />

        <activity android:name=".GiaoDien.ChiTietActivity" />
        <activity android:name=".GiaoDien.ChamCongActivity" />
        <activity android:name=".GiaoDien.MainRecyclerView" />
        <activity android:name=".GiaoDien.MainActivityGridView" />
        <activity android:name=".GiaoDien.DanhSachCN" />
        <activity android:name=".GiaoDien.DanhSachCC" />
        <activity android:name=".GiaoDien.DanhSachCNIn" />
        <activity android:name=".GiaoDien.AminationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>